@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Retro Gaming</h1>
    <p>Welcome to Retro Gaming, where you can find retro gaming related things. From gaming consoles to antique figurines, Retro Gaming is your one stop shop!</p>
</div>
