@model ECommerce_WorkingSolo.Areas.Admin.Models.ImageFileModel;

<div>
  @using (Html.BeginForm("SavePicture", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
  {
    @Html.AntiForgeryToken()

@*<div class="form-group">*@
  <div class="form-group">
  @Html.LabelFor(m=>m.FileDetails, new{@class="form-label"})
  </div>
  <div class="form-group">
    <label asp-for="FileDetails" class="control-label"></label>
    <input asp-for="FileDetails" class="form-control" value="@ViewBag.CategoryID" />
    <span asp-validation-for="FileDetails" class="text-danger"></span>
  </div>

  <div class="form-group">
    <label asp-for="File" class="control-label"></label>
    <input asp-for="File" class="form-control" />
    <span asp-validation-for="File" class="text-danger"></span>
  </div>


@*  <div>
    @Html.EditorFor(m=> m.File, new{@class="form-control"})
  </div>*@
@*</div>*@

    <button type="submit" class="btn btn-primary">Submit Image</button>
  }

</div>
